.wmd-input {
    width: 610px;
    padding: 3px;
    height: 200px;
    line-height: 1.2;
}
textarea {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    border: 1px solid rgb(153, 153, 153);
    font-size: 90%;
    resize: vertical;
    text-align: left;
}

.grippie {
    background-position: 321px -823px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 1px;
    cursor: s-resize;
    height: 9px;
    width: 610px;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
    margin-right: -8px !important;
}

.ask-title-cell-key {
    width: 50px;
}

.ask-title-cell-value {
    padding-left: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.ask-title-field {
    width: 610px;
}
.edit-field-overlayed {
    color: rgb(136, 136, 136);
}

.edit-field-overlay {
    display: none;
}