h1 {
color: red;
}

h2 {
color: yellow;
}

.subheader {
    border-bottom: 1px solid rgb(204, 204, 204);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    height: 34px;
    clear: both;
    margin-bottom: 15px;
}

.subheader h1, .subheader h2 {
    float: left;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0px;
}

#tabs {
    float: right;
    font-weight: normal;
}