{% extends 'index.html' %}
{% load static %}

{% block body_block %}
<div class="container  footer_padding" style="padding-top:2.5cm;">
{% for i in posts %}

<h2>?<i class="fa fa-question-circle"><a href="/questions/link/{{i.pk}}/" >{{i.title}}</a></h2>
<h5><b>POST~<b/></h5>

	<h5><p class="lead text-info">
    	{{ i.body|safe|linebreaks }}</p></h5>
	<b>votes</b> = {{i.upvotes}}

<div class="post_meta">
	by: <b>{{i.creator}}</b> | {{ i.post_date }}
</div>
<br/>

{% endfor %}


</div>
{% endblock %}
