<!DOCTYPE html>
{% extends "index.html" %}

{% block body_block %}

    <!-- QUESTION POST-->
    <div id="post_body" class="col-md-8 col-md-offset-2">
    <form id="postform" role="form" method="POST">
        {% csrf_token %}
        <div id="post_title" style="padding-top: 0.5cm">
            <tr>
                <td id="ask-title-cell-key">
                    <label><b>Title</b></label>
                </td>
                <td class="ask-title-cell-value" style="padding-left: 10px">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input id="title" name="post_title" placeholder="What's your query? Please be specific." class="ask-title-field form-control" required="required" type="text" data-max-length="150" data-min-length="15" tabindex="100" maxlength="300" name="title" autocomplete="off" style="z-index: 1; position: relative; padding-left: 5px;">
                    </input>
                </td>
            </tr>
        </div>
        <div id="post_text" style="padding-top: 0.5cm">
            <textarea name="post_text" id="wmd-input" class="wmd-input processed form-control" required="required" data-min-length="" tabindex="101" rows="15" cols="92" name="post-text" style="width: 610px;">
            </textarea>
            <div class="grippie" style="margin-right: 0px;"></div>
        </div>
        <div id="post_tags" style="padding-top: 0.5cm;">
            <tr>
            <td>
                <label>
                    <b>Tags</b>
                </label>
            </td>
                &nbsp;
                &nbsp;
                &nbsp;
            <td>
                <input id="tags" name="post_tags" placeholder="atleast one tag such as('django', 'ruby', 'jquery'), at max 5 tags" class="ask-title-field form-control" required="required" type="text" data-max-length="150" data-min-length="15" tabindex="100" maxlength="300" name="title" autocomplete="off" style="z-index: 1; position: relative;">
                </input>
            </td>
            </tr>
        </div>
        <div id="sbutton" style="padding-top: 0.5cm;">
            <button class="btn btn btn-primary" type="submit">Post your Question</button>
            <a href="#">or cancel?</a>
        </div>
    </form>
    </div>

    <!-- q.POST ENDS HERE-->

	<!-- FOOTER CODE GOES HERE
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div id="footer">
		  <div class="container">
			<center>
				<p class="muted credit">Development on <a href="http://www.aakashlabs.org.in"> Aakash Labs</a> under construction.
				 &nbsp; |  &nbsp;
			   	Copyright <a href="http://www.github.com/darkdefender27"> © darkdefender27</a>  Inc. and its affiliates.
				 &nbsp; |  &nbsp;
			   	Contact : <a href="https://www.facebook.com/sHuBhAm5/"> ushubham27 </a>			   	
				</p>
			</center>
		  </div>
		</div>
	</nav>
	
	<!-- END OF FOOTER -->

	</body>

{% endblock %}
